<div id="billing-details" class="container page-with-nav" v-font vh="2.5">
    <h2>Billing Details</h2>
    <form id="month-selector">
        <select ng-model="form.month" class="w33" ng-options="index as month for (index,month) in form.monthsList"></select>
        <input type="number" ng-model="form.year" class="w33">
        <button class="w33" ng-click="loadRecords()">Load</button>
    </form>
    <div class="clearfix"></div>
    <div class="table-container">
    <table>
        <thead>
            <tr>
                <th>Sr</th>
                <th>Details</th>
                <th>Rs.</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in report">
                <td>{{row.sr}}</td>
                <td>{{row.label}}</td>
                <td>{{row.value}}</td>
            </tr>
        </tbody>
    </table>
    </div>
</div>
<navbar></navbar>
