<div id="forgot-password" class="user-page container" center-v v-font vh="3">

    <div id="row logo-container">
        <img id="logo" class="img-responsive" src="images/logo.png" alt="Logo"/>
    </div>

    <h2 v-font vh="6" id="title">Sign Up</h2>

    <form novalidate name="signUpForm" ng-submit="requestSignUp()">
    <div class="row input-row">
        <div class="col-xs-1"><i class="fa fa-user"></i></div>
        <div class="col-xs-11"><input required ng-model="form.username" type="text" placeholder="Choose a Username"/></div>
    </div>

    <div class="row input-row">
        <div class="col-xs-1"><i class="fa fa-lock"></i></div>
        <div class="col-xs-11"><input required ng-model="form.password" type="password" placeholder="Choose a Password"/></div>
    </div>

    <div class="row input-row">
        <div class="col-xs-1"><i class="fa fa-envelope"></i></div>
        <div class="col-xs-11"><input required ng-model="form.email" type="email" placeholder="Your Email"/></div>
    </div>

    <div class="row input-row" style="margin-bottom: 0">
        <div class="col-xs-1"><i class="fa fa-question-circle"></i></div>
        <div class="col-xs-11"><textarea required ng-model="form.intro" placeholder="Introduce yourself." rows="2"></textarea></div>
    </div>

    <div v-font vh="2" class="row m-t-0">
        <div class="col-xs-1"></div>
        <div class="col-xs-11">Enter your name, PA number and/or rank so that admin can recognise you.</div>
    </div>

    <div class="row input-row">
        <div class="col-xs-12"><button type="submit" class="button" v-font vh="4" ng-disabled="!signUpForm.$valid">Submit</button></div>
    </div>
    </form>

</div>